body{
  background-color: darkgray;
}
.plus{
  float: right;
  margin-right: 0px;
  padding-left: 5px;
  cursor: pointer;
}

.minus{
  margin-left: 0px;
  padding-right: 5px;
  cursor: pointer;
}

.addsub{
  width: 20%;
  padding:10px;
  border-radius:15px;
  height:21px;
  cursor:pointer;
}

.add{

  padding-top:50px;
  margin-left:220px;
  padding-right:520px;
  cursor: pointer;

}

.save{
  cursor: pointer;
  padding: 10px 24px;
  border-radius:4px;
  margin-left: 150px;
}


